body {
  background-color: #000000;
  color: #e5e5e5;
  text-align: center;
}

#title {
  font-size: 50px;
}

#description {
  font-size: 25px;
}

hr {
  width: 50vw;
  max-width: 500px;
}

fieldset {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50vw;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

#submit {
  margin-top: 20px;
}
