body {
  text-align: center;
}

#image {
  display: block;
  max-width: 100%;
}

#title {
  font-size: 50px;
  font-family: Futura;
}

.heading {
  font-family: Futura;
}

#tribute-info,
#img-caption {
  font-family: sans-serif;
}

ol {
  list-style-position: inside;
  margin-left: auto;
  margin-right: auto;
}

li {
  font-family: sans-serif;
}
