body {
  text-align: center;
  background-image: url('https://img.freepik.com/free-photo/beige-paper-textured-background-simple-style_53876-139954.jpg?w=1800&t=st=1705542594~exp=1705543194~hmac=cbf6b30fa50d2e89055ea27f8edf4eb95dc11767136bd8f5680197df68171e2a');
}

#image {
  display: block;
  max-width: 100%;
}

#title {
  font-size: 50px;
  font-family: Futura;
}

.heading {
  font-family: Futura;
}

#img-caption {
  font-weight: bold;
  font-size: 25px;
}

#tribute-info,
#img-caption {
  font-family: sans-serif;
}

ol {
  list-style-position: inside;
  margin-left: auto;
  margin-right: auto;
}

li {
  font-family: sans-serif;
}
