body {
  text-align: center;
  background-image: url('https://img.freepik.com/free-photo/smooth-stucco-wall_1194-7087.jpg?w=1800&t=st=1705542649~exp=1705543249~hmac=05183d9d9848df6d4079e3a5d79577e51d0491a7706594b56c9d0ec86c5d333d');
}

#image {
  display: block;
  max-width: 100%;
}

#title {
  font-size: 50px;
  font-family: Futura;
}

.heading {
  font-family: Futura;
}

#img-caption {
  font-weight: bold;
  font-size: 25px;
}

#tribute-info,
#img-caption {
  font-family: sans-serif;
}

ol {
  list-style-position: inside;
  margin-left: auto;
  margin-right: auto;
}

li {
  font-family: sans-serif;
}
